.project-card {
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    overflow-wrap: anywhere;
    justify-content: center;
    background-color: #202020;
    /* border: 1px solid #120136; */
    border-radius: 5px;
    padding: 20px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
    margin: 10px 0px 0px 10px;
    flex-grow: 1;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.project-card > p {
    margin: 2px;
    font-size: 1.0em;
}

p > b {
    font-weight: 600;
    font-size: 1.2em;
}

.project-card:hover {
    transform: scale(1.001);
    box-shadow: 3px 3px 3px rgba(219, 120, 120, 0.2), 3px 3px 3px rgba(219, 120, 120, 0.2);
}

a {
    color: rgba(219, 120, 120, 0.6);
    text-decoration: none;
  }

a:hover {
    color: rgba(219, 120, 120, 0.8);
}