.section-container {
    text-align: left;
    padding-right: 20px;
    overflow-y: auto;
    -moz-overflow-y: hidden;
    -ms-overflow-y: hidden;
    scrollbar-width: none;
}

.main-heading {
    font-size: 42px;
    margin-bottom: 0;
    font-family: 'Arima Madurai',fantasy, cursive;
    font-variant: petite-caps;
}

.main-quote {
    font-size: 18px;
    letter-spacing: 0.1em;
    margin-top: 0;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, Times, 'Times New Roman', serif;
    white-space: pre-wrap;
}

.section-heading-container::after {
    display: inline-block;
    content: "";
    border-top: 1px solid #aaa8a9;
    width: 4rem;
    margin-top: 0;
    margin-bottom: 5px;
    transform: translateY(-1rem);
}

.section-container::-webkit-scrollbar {
    display: none;
}