body {
  background-color: #000017;
  color: #AaAaA9;
}
.App {
  text-align: center;
	display: flex;
	min-height: 100vh;
  align-items: center;
  font-family: 'Gill Sans MT', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}